{% for provider in providers %}
location ~ /{{ provider['id'] }}:(.+)$ {
    set $new_url {{ provider['api_url'] }}/items/$1?redirect-to-ui=true;
    if ($arg_token) {
        set $new_url "${new_url}&token=$arg_token";
    }
    if ($arg_at) {
        set $new_url "${new_url}&at=$arg_at";
    }
    return 301 $new_url;
}
{% endfor %}
